*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* header styling */
.header{
    background-image: url(./images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh ;
}
.header-title{
    padding-top: 200px;
    text-align: right;
    padding-right: 250px;
    font-weight: 800;
    font-size: 45px;
    

}
.header-text{
    text-align:right;
    padding-right: 250px;
    padding-bottom: 15px;

}
.div-btn{
    text-align: right;
    padding-right:250px;
    
}
.btn-header{
    padding: 16px 24px;
    border-radius: 5px;
    border: 0;
    background-color:#F15B22;
    color:#ffffff ;
}
/* banner styling */
main{
    max-width: 1150px;
     margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.person-img {
    margin-right: 200px;
}
.banner-text-part{
    margin-top:200px;
}
.banner-header-text{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.banner-text{
    padding-bottom: 10px;
}
.tick-mark{
    color:#8a2be2;
      
}
/* my plan styling */
h2{
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}
.myplans-section{
    margin-top: 200px;
}
.myplans-container{
    display:flex;
    justify-content: space-around;
    padding-top: 80px;
   
}
.myplan-img{
    padding-left: 50px;
    margin-bottom:10px;
}
h3{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom:10px;
}
.myplan-text{
    padding-left:30px;
}
/* lower section styling */
.lower-content{
    margin-top:200px;
    background-image:
    linear-gradient(to bottom, #c2280d61, #77675aba),
    url('./images/watch.png');
border-radius: 8px;
height: 300px;
width: 1140px;

}
.lower-text{
    padding-left: 30px;
    padding-top: 100px;
    font-size: 35px;
    color: #ffffff;
}
.btn-p{
    padding-left: 30px;
    font-size: 35px;
    color: #ffffff;
}
.btn-lower{
    
    padding: 16px 24px;
    border-radius: 5px;
    border: 0;
    background-color:#ffffff;
    color: #F15B22;
}

/* footer styling */
.footer{
    margin-top: 100px;
    background: #151414;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.contact-info{
    color: #ffffff;
    margin-top: 130px;
    
}
.to-subscribe{
    margin-top: 130px;
    color: #ffffff;
}

#email{
    padding: 15px 40px;
    border-radius: 5px;
    background-color:#000000;
    border-color: #ffffff;
    margin-bottom: 10px;
    
}
 .btn-subscribe{
/* color: #F15B22; */
padding: 14px 24px;
    border-radius: 5px;
    border: 0;
    background-color:#ffffff;
    color: #F15B22;
    font-weight: 700;
 }

 /* !! end of the project !! */
        THANK YOU -->
    
        